@font-face {
  font-family: "Averta Std";
  src: local("Averta Std"), url("./regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Averta Std";
  src: local("Averta Std"), url("./light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "Averta Std";
  src: local("Averta Std"), url("./bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Averta Std";
  src: local("Averta Std"), url("./semibold.otf") format("opentype");
  font-weight: 600;
}
